HOSTS          doyle

DATA_DIR       /home/flix/SOURCES/DISCOUNT2.0
EXPERT_DIR     /home/flix/SOURCES/DISCOUNT2.0/EXPERT
REFEREE_DIR    /home/flix/SOURCES/DISCOUNT2.0/REFEREE
DOMAIN_DIR     /home/flix/SOURCES/DISCOUNT2.0/DOMAIN
KNOWLEDGE_DIR     /home/flix/SOURCES/DISCOUNT2.0/KNOWLEDGE


INITIAL      (DATABASE (0) STAT_STAT_1 )
             (GT_WEIGHT (0) STAT_LAST_1)

SELECT       (STANDARD_1 (0) STAT_LAST_1)

             (AUSSAGENLOGIK_1 (0) STAT_LAST_1)

             (AUSSAGENLOGIK_2 (0) STAT_LAST_1)

             #(STANDARD_F (0) STAT_LAST_1)

             (GOALMATCH (0) STAT_LAST_1)

             (GOALSIM (0) STAT_LAST_1)

             (MAX_WEIGHT (0) STAT_LAST_1)

             (BOOLRING_1 (0) STAT_LAST_1)

             (BOOLRING_2 (0) STAT_STAT_1_NO_M_BOOL)

             (RING_1 (0) STAT_STAT_1)

             (RING_2 (0) STAT_STAT_1)

             (LATTICE_1 (0) STAT_STAT_1)

             (LATTICE_2 (0) STAT_STAT_1_NO_M_LATT)

             (OCCNEST (0) STAT_STAT_1)

DOMAIN_SELECT     LATTICE AUSSAGENLOGIK BOOLRING  RING

#TIMEBASE     7 LINEAR 

SUPERVISOR_FILE     /home/flix/SOURCES/DISCOUNT2.0/PLAN/std_plan.CFG


