HOSTS          christie

DATA_DIR       /home/aven/stschulz/DISCOUNT_VERSIONS/DISCOUNT2.0
EXPERT_DIR     /home/aven/stschulz/DISCOUNT_VERSIONS/DISCOUNT2.0/EXPERT
REFEREE_DIR    /home/aven/stschulz/DISCOUNT_VERSIONS/DISCOUNT2.0/REFEREE
DOMAIN_DIR     /home/aven/stschulz/DISCOUNT_VERSIONS/DISCOUNT2.0/DOMAIN
KNOWLEDGE_DIR  /home/aven/stschulz/DISCOUNT_VERSIONS/DISCOUNT2.0/KNOWLEDGE


INITIAL	     (C_1TET_LEARN (0) STAT_LAST_1)
       
             (C_GLOBAL_LEARN (0) STAT_LAST_1)      

SELECT       (DATABASE (0) STAT_STAT_1 )

	     (C_2TET_LEARN (0) STAT_LAST_1)

             (ADD_RWEIGHT (0) STAT_LAST_1)

	     (GOALMATCH (0) STAT_LAST_1)

             (GOALSIM (0) STAT_LAST_1)

             (MAX_WEIGHT (0) STAT_LAST_1)

             (LATTICE_1 (0) STAT_STAT_1)

             (LATTICE_2 (0) STAT_STAT_1_NO_M_LATT)

             (OCCNEST (0) STAT_STAT_1)

DOMAIN_SELECT     LATTICE

#TIMEBASE     7 LINEAR 

SUPERVISOR_FILE     /home/aven/stschulz/DISCOUNT_VERSIONS/DISCOUNT2.0/PLAN/std_plan.CFG


